[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
garpixcms = "==3.45.0"
garpix-user = "==3.0.1"

[dev-packages]

[requires]
python_version = "3.8"
